.Card{
  background-color: white;
  border: solid silver 2px;
  border-radius: 3px;
  height: 300px;

  display: flex;

  & > * {
    flex-basis: 0; //taille de base équivalente au contenu
  }

  &_image{
    flex-grow: 1.5;

    display:flex; // pour permettre à l'élément enfant
    // (image) de bénéficier des propriétés
    // applicables aux flex-items

    justify-content: center;
    align-items: center;
  }

  &_info{
    flex-grow: 2;
    padding: 5px;

    display: flex;
    flex-direction: column;
  }

  &_title {
    font-size: 3rem;
    font-weight: bold;

    flex-grow: 0.5;
  }

  &_description {
    flex-grow: 2;
  }

  &_price {
    font-weight: bold;
    flex-grow: 0.5
  }

}