.Header{
  height: 100px;
  background-color: $header-bg-color;
  padding: $padding-base;

  display: flex;
  align-items: center;

  &_brand{
    //détermine la taille de l'élément flexible
    flex-basis: $header-brand-width;
    box-sizing: border-box;
  }

  &_banner{
    flex-grow: 1;
  }

}